/*
VARIABLES
================================================ */
/* variables:変数。色やフォントを一括で定義 */
:root {
    --primary-font: 'Kosugi', sans-serif;
    --background-color: #e0f7ff;
    --text-color: #333;
    /* --card-bg-color: #ffffff; */
    --button-color: #007bff;
    --button-hover-color: #0056b3;
    --border-radius: 10px;
}

body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--text-color);
    /* margin: 0; */
    /* padding: 0; */
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

/* .card {
    background-color: var(--card-bg-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
} */

#habitInput {
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

#habitBtn {
    background-color: var(--button-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

#habitBtn:hover {
    background-color: var(--button-hover-color);
}

