/*
VARIABLES
================================================ */
/* variables:変数。色やフォントを一括で定義 */
:root {
    --primary-font: 'Kosugi', sans-serif;
    --background-color: #e0f7ff;
    --header-color: #f0f4f8;
    --header-title-color:#424de7;
    --text-color: #1a1a1a;
    --button-color: #007bff;
    --button-hover-color: #0056b3;
    --border-radius: 10px;
}

/*
GLABAL STYLES
================================================ */
/* 全体に適用するスタイル */
body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--text-color);
    /* margin: 0; */
    /* padding: 0; */
}
h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    text-align: center;
}

/*
SECTION STYLES
================================================ */
.header {
    background-color: var(--header-color);
    padding: 10px 20px;
}
.header-content {
    display:flex;
    align-items: center;
}
.header-title {
    color: var(--header-title-color);
}
.header-icon {
    margin-right:10px;
}

section {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin:20px 0;
    /* セクション全体の余白 */
}

#inputContainer {
    display: flex;
    gap: 10px; /* 入力フォームとボタンの間に少し余白を追加 */
    margin-bottom: 20px; /* 入力フォームと習慣リストの間に余白を追加 */
}

#cardContainer {
    max-width: 300px; /* 必要なら最大幅を指定して中央揃え */
}

#habitForm,#addBtn,#clearBtn {
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0 12px; /* 左右の余白を少し広げる */
    border: none;
    border-radius: var(--border-radius);
}

#habitForm {
    line-height: 40px; /* 高さと同じ値に設定して、内容が中央揃えになるように */
}

#addBtn,#clearBtn {
    font-weight: bold;
    background-color: var(--button-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addBtn:hover {
    background-color: var(--button-hover-color);
}

#clearBtn:hover {
    background-color: var(--button-hover-color);
}